@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Outfit;
}

body {
    min-height: 100vh;
    background-color: #fcfcfc;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    border: none;
    height: 1px;
    background-color: #a9a9a9;
}

.app-content {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.conrsor {
    cursor: pointer;
}

@media (max-width:600px) {
    .list-table-format {
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .list-table-format.title {
        display: none;
    }
}