.list-table-format {
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.list-table-format.title {
    background-color: #f9f9f9;
}

.list-table-format img {
    width: 50px;
}